<html>
    <link rel="stylesheet" href="http://127.0.0.1:8080/res/style.css">
    <body style="text-align: center">
        <h1 style="background: dodgerblue; color: white;">Web</h1>
        <a href="http://127.0.0.1:8080/ascii">ASCII Art</a>
        <a href="http://127.0.0.1:8080/fizzbuzz">FizzBuzz</a>
        <a href="http://127.0.0.1:8080/rot13">Rot 13</a>
        <a href="http://127.0.0.1:8080/shop">Shopping List</a>
        <a href="http://127.0.0.1:8080/blog">Blog</a>
        <a href="http://127.0.0.1:8080/signup">Sign Up</a>
        <a href="http://127.0.0.1:8080/login">Login</a>
        <a href="http://127.0.0.1:8080/logout">Logout</a>
        <a href="http://127.0.0.1:8080/users">Users</a>
        <div id="block">
            {% if not logout %}
                {% include 'loggedin.html' %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
