
<link rel="stylesheet" href="http://127.0.0.1:8080/res/style.css">
<body>
    <h1 style="background: dodgerblue; color: white; margin: 0;">Web</h1>
    <a href="http://127.0.0.1:8080/memes">Memes</a>
       <a href="http://127.0.0.1:8080/ascii">ASCII Art</a>
    <a href="http://127.0.0.1:8080/fizzbuzz">FizzBuzz</a>
    <a href="http://127.0.0.1:8080/rot13">Rot 13</a>
    <a href="http://127.0.0.1:8080/shop">Shopping List</a>
    <a href="http://127.0.0.1:8080/signup">Sign Up</a>
    <a href="http://127.0.0.1:8080/blog">Blog</a>
    <div id="block">
        {% block content %}
        {% endblock %}
    </div>
</body>

