{% extends 'base.html' %}

{% block content %}
<table>
    <thead>
        <th> Meme 1</th>
        <th> Meme 2</th>
        <th> Meme 3</th>
        <th> Meme 4</th>
    </thead>
    <tbody>
        <tr>
            <td><img src="http://127.0.0.1:8080/res/meme1.png"  width="400" height="600"></td>
            <td><img src="http://127.0.0.1:8080/res/meme2.jpg"  width="400" height="600"></td>
            <td><img src="http://127.0.0.1:8080/res/meme3.png"  width="400" height="600"></td>
            <td><img src="http://127.0.0.1:8080/res/meme4.jpg"  width="400" height="600"></td>
        </tr>
    </tbody>
</table>
<style>
    td {padding: 30px}
    th {font-size: 30px}
</style>
{% endblock %}